body{
	background: #F44336;
}
#div-1{
	width: 400px;
	height: 200px;
	position: relative;
   	left: 50%;
   	margin-left: -200px;
	color: #212121;
	background: #cccccc;
}
.noticias{
	width: 400px;
	height: 200px;
	color: #212121;
	background: #bbbbbb;
}