body{
	background: #212121;
}
h1{
	color: #EEEEEE;
}
.navbar-background{
	background: #EEEEEE;
}
.nav-tabs{
  background-color:#EEEEEE;
  color: #212121;
}
.tab-content{
    background-color:#EEEEEE;
    color:#212121;
    padding:20px
}
.nav-tabs > li > a{
  color: #212121;
}
.nav-tabs > li > a:hover{
  	background-color: #E0E0E0 !important;
    color:#212121;
}
.navbar-inverse .navbar-nav > li > a {
  color: #212121;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #212123;
}
#texto-logo{
  color: #212121;
  margin-left: -15px;
}
#texto-logo:hover{
  color: #212121;
}